@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/poppins');
@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}

	.font-outline {
		-webkit-text-stroke: 1px white;
	}
}

@layer utilities {
	.container {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 640px) {
		.container {
			max-width: 640px;
		}
	}
	@media (min-width: 768px) {
		.container {
			max-width: 768px;
		}
	}
	@media (min-width: 1024px) {
		.container {
			max-width: 1024px;
		}
	}
	@media (min-width: 1280px) {
		.container {
			max-width: 1280px;
		}
	}
	@media (min-width: 1536px) {
		.container {
			max-width: 1536px;
		}
	}
}

.custom-select__control  {
	height: 100% !important;
	cursor: pointer !important;
}